<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.RegisterStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFacultyServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.RegisterFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLoginServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.FacultyLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultyLogoutServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.facultyLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentLogoutServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.studentLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmissionServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.AdmissionServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>-->
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.AddSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNoticeServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.AddNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSyllabusServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.AddSyllabusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocumentServlet</servlet-name>
        <servlet-class>com.mycompany.studentmanagement.servlet.AddDocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <url-pattern>/RegisterStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFacultyServlet</servlet-name>
        <url-pattern>/RegisterFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLoginServlet</servlet-name>
        <url-pattern>/FacultyLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultyLogoutServlet</servlet-name>
        <url-pattern>/facultyLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLogoutServlet</servlet-name>
        <url-pattern>/studentLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmissionServlet</servlet-name>
        <url-pattern>/AdmissionServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectServlet</servlet-name>
        <url-pattern>/AddSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNoticeServlet</servlet-name>
        <url-pattern>/AddNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSyllabusServlet</servlet-name>
        <url-pattern>/AddSyllabusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocumentServlet</servlet-name>
        <url-pattern>/AddDocumentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>-->
</web-app>
